.cell {
  border-radius: 0px;
  background: #00FFFF;
  padding: 5px;
  height: 70px;
  border: 1px solid black;
  overflow: auto;
}

.button {
  border-radius: 5px;
  background: #00FF00;
  border: 1px solid black;
}

td,
th {
  vertical-align: top;
  width: 50%;
}

.txt {
  width: 100%;
  height: 100%;
}

#div-button {
  width: 100px;
  margin-left: auto ;
  margin-right: auto ;
}

#save-button {
  width: 100px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  background: #FF00FF;
}

#doc-info {
  font-weight: bold;
}

a:link {
  text-decoration: none;
}

.delete {
  background: orange;
}

.edit {
  background: yellow;
}

.merge {
  background: mediumturquoise;
}