.cell {
  background: #00FFFF;
  padding: 5px;
  height: 80px;
  min-height: 80px;
  border: 1px solid black;
  overflow: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
}

td,
th {
  vertical-align: top;
  width: 50%;
}

.div-button {
  width: 100px;
  margin-left: auto ;
  margin-right: auto ;
}

#doc-info {
  font-weight: bold;
}

.demo {
  min-height: 20px;
}

[contenteditable="true"]:focus {
    color: red;
}